body {
  background-color: white;
}

/* -- header -- */

.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 33.3px;
}

.item {
  list-style: none;
}

.item a {
  text-decoration: none;
}

.item2,
.item3 {
  text-decoration: underline;
  list-style: circle;
}

li {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-display: swap;
  font-size: 18px;
}

.logo {
  display: block;
  height: 105px;
  width: 148px;
}

.address {
  font-style: normal;
  max-width: 240px;
  min-width: 240px;
  justify-self: end;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-display: swap;
  font-size: 18px;
  align-items: center;
  line-height: 24.3px;
}

/* -- section 1 -- */

.cover {
  height: 757px;
  background: no-repeat 51% url("../images/cover.jpg");
  background-size: cover;
  margin-bottom: 180px;
  position: relative;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right,
.description,
.bet-button {
  text-transform: uppercase;
  color: white;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-display: swap;
  font-size: 100px;
  white-space: 30%;
  letter-spacing: 0.3em;
}

.aligned-text {
  position: absolute;
  inset: 165px 764px 477px 50px;
}

.aligned-text_center {
  position: absolute;
  inset: 300px 380.5px 342px 380.5px;
}

.aligned-text_right {
  position: absolute;
  inset: 435px 50px 207px 663px;
}

.description {
  position: absolute;
  inset: 656px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18.5px;
}

.bet-button {
  background-color: transparent;
  padding: 12px 32px 11px 31px;
  border: 1px solid white;
  font-size: 22px;
}

/* -- section 2 -- */

.lots {
  height: 723px;
  margin-bottom: 120px;
  padding: 0 24px 120px 24px;
}

.lots__heading {
  margin-bottom: 30px;
  padding-top: 5px;
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  word-wrap: break-word;
  max-width: 100%;
  width: 334px;
  min-height: 596px;
}

.lots__card-list-item1 {
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.lots__card-list-item2 {
  background: center url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__card-list-item3 {
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card {
  position: relative;
  height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots a {
  text-decoration: none;
}

.overlay {
  position: absolute;
  background-color: black;
  opacity: 60%;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.card__title {
  position: relative;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  z-index: 1;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.card__text {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  z-index: 1;
  line-height: 120%;
}

.lots__look-more-link {
  padding: 40px;
  font-size: 20px;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

/* -- section 3 -- */

.about {
  margin-bottom: 180px;
  margin: 0 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
}
.about__column_1 {
  justify-items: center;
  padding: 35px;
}
.about__column_2 {
  align-items: end;
  padding-left: 25px;
  padding-top: 136px;
}
.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  z-index: 1;
  width: 148px;
  height: 148px;
  position: absolute;
}
.about__title {
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-display: swap;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 25px;
  padding-top: 100px;
}

/* -- footer -- */

.footer {
  height: 180px;
  margin: 0;
  padding: 0 50px 82px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.address_footer {
  height: 98px;
  font-style: normal;
  width: 264.57px;
  max-width: 240px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-display: swap;
  font-size: 18px;
  line-height: 24.3px;
}

.footer__menu {
  display: flex;
  width: 164px;
  height: 64px;
  padding-left: 9px;
  font-size: 18px;
  text-transform: lowercase;
}
.footer__menu-list {
  flex-direction: column;
  justify-items: center;
}

.footer__menu-link {
  list-style: none;
  justify-content: center;
}
.text {
  text-decoration: underline;
}
.footer__social-list {
  display: flex;
  list-style: none;
  justify-content: end;
  gap: 48px;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
